services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    environment:
      - TZ=America/Los_Angeles
    # Network mode of 'host' exposes the ports on the host. This is needed for DLNA access.
    network_mode: 'host'
    ports:
      - "8096:8096"
      - "8920:8920"
    volumes:
      - {{ server_root }}/.certs:/certs
      - {{ jellyfin_cache_directory }}:/cache
      - {{ jellyfin_config_directory }}:/config
      - type: bind
        source: {{ jellyfin_books_root }}
        target: /books
      - type: bind
        source: {{ jellyfin_movies_root }}
        target: /movies
      - type: bind
        source: {{ jellyfin_music_root  }}
        target: /music
      - type: bind
        source: {{ jellyfin_youtube_root }}
        target: /youtube
    restart: 'unless-stopped'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.rule=Host(`tree.schang.dev`) && PathPrefix(`/jellyfin`)"
      - "traefik.http.routers.jellyfin.entrypoints=websecure"
      - "traefik.http.routers.jellyfin.tls.certresolver=letsencrypt_resolver"
      - "traefik.http.routers.jellyfin.service=jellyfin-svc@file"
      - "traefik.http.services.jellyfin-svc.loadBalancer.server.port=8096"
      - "traefik.http.services.jellyfin-svc.loadBalancer.passHostHeader=true"
