services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    environment:
      - TZ=America/Los_Angeles
    network_mode: 'host'
    volumes:
      - {{ server_root }}/.certs:/certs
      - {{ jellyfin_cache_directory }}:/cache
      - {{ jellyfin_config_directory }}:/config
      - type: bind
        source: {{ jellyfin_books_root }}
        target: /books
      - type: bind
        source: {{ jellyfin_movies_root }}
        target: /movies
      - type: bind
        source: {{ jellyfin_music_root  }}
        target: /music
      - type: bind
        source: {{ jellyfin_youtube_root }}
        target: /youtube
    restart: 'unless-stopped'
