- name: Install Tailscale
  block:
    - name: Add Tailscale's package signing key
      ansible.builtin.get_url:
        url: https://pkgs.tailscale.com/stable/ubuntu/{{ ansible_facts["distribution_release"] }}.noarmor.gpg
        dest: /usr/share/keyrings/tailscale-archive-keyring.gpg
        mode: '0644'

    - name: Add Tailscale's package repository
      ansible.builtin.get_url:
        url: https://pkgs.tailscale.com/stable/ubuntu/{{ ansible_facts["distribution_release"] }}.tailscale-keyring.list
        dest: /etc/apt/sources.list.d/tailscale.list
        mode: '0644'

    - name: Install Tailscale
      ansible.builtin.apt:
        pkg:
          - tailscale
        state: present
