services:
  traefik:
    image: traefik:v3.3
    container_name: traefik
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - "--api.insecure=true"
      - "--providers.docker"
      # Do not expose all Docker services, only the ones explicitly exposed
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls.certresolver=letsencrypt_resolver"
      - "--certificatesresolvers.letsencrypt_resolver.acme.email=sammychang2185@proton.me"
      - "--certificatesresolvers.letsencrypt_resolver.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt_resolver.acme.dnschallenge.provider=vercel"
      - "--certificatesresolvers.letsencrypt_resolver.acme.dnschallenge.delayBeforeCheck=10" # To delay DNS check and reduce LE hitrate
    ports:
      # The HTTP/HTTPS ports
      - "80:80"
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      - {{ letsencrypt_directory }}:/letsencrypt
      # So that Traefik can listen to Docker events (read-only)
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: 'unless-stopped'
