services:
  traefik:
    image: traefik:v3.3
    container_name: traefik
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - "--api.insecure=true"
      - "--providers.docker"
      # Do not expose all Docker services, only the ones explicitly exposed
      - "--providers.docker.exposedbydefault=false"
      # Needed to establish jellyfin-svc
      # https://github.com/traefik/traefik/issues/8753
      - "--providers.file.filename=/config/dynamic_conf.yml"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls.certresolver=letsencrypt_resolver"
      - "--entrypoints.websecure.transport.respondingTimeouts.readTimeout=600s"
      - "--entrypoints.websecure.transport.respondingTimeouts.idleTimeout=600s"
      - "--entrypoints.websecure.transport.respondingTimeouts.writeTimeout=600s"
      - "--certificatesresolvers.letsencrypt_resolver.acme.email=sammychang2185@proton.me"
      - "--certificatesresolvers.letsencrypt_resolver.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt_resolver.acme.dnschallenge.provider=vercel"
      - "--certificatesresolvers.letsencrypt_resolver.acme.dnschallenge.delayBeforeCheck=10" # To delay DNS check and reduce LE hitrate
    ports:
      # The HTTP/HTTPS ports
      - "80:80"
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      - {{ letsencrypt_directory }}:/letsencrypt
      - {{ traefik_config_directory }}:/config
      # So that Traefik can listen to Docker events (read-only)
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file:
      - {{ traefik_config_directory }}/secrets/vercel_api_token
    restart: 'unless-stopped'
    labels:
      # Traefik
      traefik.enable: true
      traefik.http.routers.traefik.tls: true
      traefik.http.routers.traefik.tls.certresolver: letsencrypt_resolver
      traefik.http.routers.traefik.tls.domains: {{ traefik_domain_name }}
      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.rule: Host(`{{ traefik_domain_name }}`)
      traefik.http.routers.traefik.service: traefik-svc@file
      traefik.http.services.traefik-svc.loadbalancer.server.port: 8080
      # Watchtower
      com.centurylinklabs.watchtower.enable: true
