http:
  routers:
    uptime-kuma:
      tls:
        certResolver: letsencrypt_resolver
        domains: status.schang.dev
      rule: Host(`status.schang.dev`)
      service: uptime-kuma-svc
      entryPoints:
        - websecure

  services:
    immich-svc:
      loadBalancer:
        servers:
        - url: "http://{{ tailscale_ipv4 }}:2283"
    ytdl-svc:
      loadBalancer:
        servers:
        - url: "http://{{ tailscale_ipv4 }}:8443"
    traefik-svc:
      loadBalancer:
        servers:
        - url: "http://{{ tailscale_ipv4 }}:8080"
    uptime-kuma-svc:
      loadBalancer:
        passHostHeader: true
        servers:
        - url: "http://100.108.234.120:3001"
