http:
  services:
    jellyfin-svc:
      loadBalancer:
        servers:
        - url: "http://192.168.254.141:8096"
    immich-svc:
      loadBalancer:
        servers:
        - url: "http://192.168.254.141:2283"
    traefik-svc:
      loadBalancer:
        servers:
        - url: "http://192.168.254.141:8080"
