services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    environment:
      # Watchtower environment arguments and their use can be found:
      # https://github.com/containrrr/watchtower/blob/main/docs/arguments.md?plain=1

      # Removes old images after updating. When this flag is specified, watchtower will remove the old image after restarting a container with a new image. Use this option to prevent the accumulation of orphaned images on your system as containers are updated.
      WATCHTOWER_CLEANUP: "true"
      # Monitor and update containers that have a `com.centurylinklabs.watchtower.enable` label set to true.
      WATCHTOWER_LABEL_ENABLE: "true"
      # Cron expression in 6 fields (rather than the traditional 5) which defines when and how often to check for new images
      # https://pkg.go.dev/github.com/robfig/cron@v1.2.0#hdr-CRON_Expression_Format
      WATCHTOWER_SCHEDULE: 0 0 4 * * *

      # Notifications
      # The shoutrrr URL to send notifications to
      WATCHTOWER_NOTIFICATION_URL: >
        discord://{{ watchtower_discord_token }}@{{ watchtower_discord_webhookid }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      # Watchtower
      - "com.centurylinklabs.watchtower.enable=true"