services:
  ytdl-sub:
    image: ghcr.io/jmbannon/ytdl-sub-gui:latest
    container_name: ytdl-sub
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - {{ ytdl_sub_config_directory }}:/config
      - {{ ytdl_sub_youtube_root }}:/youtube
    ports:
      - 8443:8443
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.ytdl.tls: true
      traefik.http.routers.ytdl.tls.certresolver: letsencrypt_resolver
      traefik.http.routers.ytdl.tls.domains: {{ ytdl_sub_domain_name }}
      traefik.http.routers.ytdl.entrypoints: websecure
      traefik.http.routers.ytdl.rule: Host(`{{ ytdl_sub_domain_name }}`)
      traefik.http.routers.ytdl.service: ytdl-svc@file
      traefik.http.services.ytdl-svc.loadBalancer.server.port: 8443
